// center
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// flex column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// borderHover
@mixin borderHover {
  padding: 5px 10px;
  color: white;
  cursor: pointer;

  &:hover {
    padding: 4px 9px;
    border: 1px solid white;
  }
}