.Navbar {
  width: 100%;
  height: fit-content;
  padding: 5px 25px;
  background-color: $first-color;
  align-self: flex-start;
  @include center;
  justify-content: space-between;

  .nav_options {
    @include center;

    .navbar_option {
      @include flex-column;
      @include borderHover;

      .navbar_option_firstLine {
        font-size: 80%;
      }

      .navbar_option_secondLine {
        font-weight: bold;
      }
    }
  }
}