@import './abstracts/_abstracts-dir';
@import './header/_header-dir';
@import './sidebar/_sidebar-dir';
@import './body/_body-dir';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;

    #root {

      main {
        width: 100%;
        height: calc(100vh - 113.02px);
        padding: 0 260px;
        position: absolute;
        top: 113.02px;

        section {
          width: 100%;
          padding: 50px 0;
        }
      }

      .inactive {
        overflow: hidden;
        filter: brightness(60%);
        transition: all .5s;
      }
    }

  }
}