@import './abstracts/_abstracts-dir';
@import './header/_header-dir';
@import './sidebar/_sidebar-dir';
@import './body/_body-dir';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
  }
}